<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" id="sidenav-toggle">
    <fa name="bars"></fa>
  </button>
  <span>Jungschar Spielekiste</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <a routerLink="">
        <mat-list-item>
          <span>Spiele</span>
        </mat-list-item>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

